<div class = "comment_body" id="comment-body-<%= comment.id %>">
  <span>
    <strong class =  "no-text-decoration normal-color">
      <%= comment.user.username %>
    </strong>
    <%= comment.content %>
  </span>
</div>
