<div class="d-flex flex-column align-items-center mt-3">
  <div class = "col-xl-7 col-lq-8 col-md-10 col-sm-11 post-card">
    <div class="card">
      <div class="card-header">
        <% posts.each do |post| %>
          <%= render 'shared/single_post', post: @post %>
        <% end %>
      </div>
    </div>
  </div>
</div>
